root {
  display: inline-flex;
}

body {
  text-align: center;
  image-rendering: auto;
  background-image: url("/public/img/wp3199135-wallpaper-1920x1080-dark3.png");
  color: rgb(255, 255, 255);
  overflow: hidden;
}
div.form {
  display: flex;
  flex-direction: column;
}

.listArea {
  cursor:default;
}

tr > td:hover {
  transform: scale(1.15);
  background-color: #b6b8b6;
  cursor: pointer;
  user-select: none;
}

tr > td:active {
  background-color: #b20a37;
}

p {
  font-family: monospace;
}
label {
  font-size: larger;
  font-weight: 400;
  float: inline-start;
  margin-right: 1em;
}

table {
  margin: 2em auto;
  table-layout: fixed;
  text-transform: uppercase;
}
td {
  width: 3rem;
  height: 3rem;
  border: 1px solid rgb(255, 255, 255);
  font-size: 2.5rem;
  /* text-align:center; */
  font-family: arial, helvetica, sans-serif;
  font-display: block;
}

.btn {
  /* background: #053d76; */
  background: #6300a0;
  color: #ffffff;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.5rem 0.7rem;
  border-radius: 1.2rem;
  min-height: 2rem;
  min-width: 7.5rem;
  transform: scale(1);
  transition: transform 200ms;
}
.btn:hover {
  transform: scale(1.1);
}
/* #riddleButton {
  margin-top: 1rem;
  
  scale: 110%;
} */

#word-submit-button {
  margin-left: 1rem;
  margin-right: 0.5rem;
}

#clearButton {
  background-color: #b20a37;

  margin-top: 1rem;
}
#solveRiddle {
  background: green;
}

.form__group input {
  border: 3px solid #6300a0;
  border-radius: 100rem;
  color: #6300a0;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  outline: none;
  padding: 0.5rem 2.5rem;
  width: border-box;
  text-transform: uppercase;
  transition: background-color 500ms;
}
.form__group input:hover {
  transform: scale(1.15);
}

.form__group input:focus {
  border: 2px solid #6300a0;
}
.form__group input:not(:focus):invalid {
  background-color: #b20a37;
  border: 2px solid #b20a37;
  color: #fff;
}

.listedItems {
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: #ffffff;
  text-transform: uppercase;
}
#ordered-List {
  display: inline-block;
  text-align: left;
  column-count: 2;
  column-gap: 4rem;
}
.addedWordList {
  text-align: center;
  /* color: #2696b8; */
}

td.solved {
  /* text-decoration: line-through; */
  background-color: green;
}

/*******************************E X P E R I M E N T A L - M O U S E O V E R**********************************/

td.selected {
  background-color: #474646;
}
